<section class="card">
  <a href="/review/{{id}}"></a>  
    <div class="card-body">
      <p>Comment: {{comment}}</p>
      <p>Date: {{format_date comment_date}}</p>
      <p>by: {{user.name}}</p>
    </div>   
</section>