<div class="row">   
    <div class="col=6">
        <div class="card" id="login">
                <div>
                    <h2>Login</h2>
                </div>
                <div>
                    <label>User Email</label>
                    <input id="LginEmail" type="text">
                </div>
                <div>
                    <label>User Password</label>
                    <input id="LginPass" type="text">
                </div>
                <div>
                    <button id="btnlogin" type="button">Sign In</button> 
                </div>
                <div>
                    <label id="loginResults"></label>
                </div>
        </div>  
    </div>
     <div class="col=6">
        <div class="card" id="login">
            <div>
                <h2>Sign Up</h2>
            </div>
            <div>
                <label>User Name</label>
                <input id="sgnUserName" type="text">
            </div>
            <div>
               <label>User Email</label>
               <input id="sgnEmail" type="text">
            </div>
            <div>
                <label>User Password</label>
                <input id="sgnPassword" type="text">
            </div>
            <div>
                <button id="btnsignup" type="button">Create Login</button>
            </div>
            <div>
                <label id="signupResults"></label>
            </div>
        </div>
     </div>
</div>

<script src="/js/login.js"></script>
